In [8]:
import numpy as np
import pandas as pd

# read data
data = pd.read_csv('../data/monthly_household_2005_2018.csv')

In [9]:
# first rows
data.head(5)

,month,overall,public_housing,1-room_2-room,3-room,4-room,5-room_and_executive,private_housing,private_apts_and_condo,landed_properties,others
0,2005-01,418.1,330.9,135.2,241.7,345.6,422.0,751.4,624.8,1037.7,594.2
1,2005-02,408.3,319.1,129.0,235.2,333.6,405.1,749.8,619.2,1044.8,572.7
2,2005-03,446.9,347.6,131.5,253.1,363.4,445.4,825.2,679.3,1157.1,637.1
3,2005-04,496.2,389.7,148.0,280.3,407.4,501.9,900.8,759.2,1224.8,723.3
4,2005-05,496.8,388.0,147.0,281.0,404.9,498.9,909.9,772.9,1224.2,693.5

In [24]:
# 1.- Copy data for each dataset that we are going to make and drop unnecesary rows
rooms_1_2 = data[["1-room_2-room"]]
rooms_3 = data[["3-room"]]
rooms_4 = data[["4-room"]]
rooms_5 = data[["5-room_and_executive"]]
condo = data[["private_apts_and_condo"]]

In [31]:
months = pd.DataFrame(data['month'])

In [138]:
# remove 1st and last day
rooms_1_2_prev = rooms_1_2.head(-1).rename(columns={"1-room_2-room": "previous_day"}) # remove last day
rooms_1_2_next = rooms_1_2.tail(-1).rename(columns={"1-room_2-room": "next_day"})

rooms_1_2_data = {"Previous Day": rooms_1_2_prev['previous_day'], "Next day": rooms_1_2_next['next_day'].reset_index(drop=True)}
rooms_1_2_dataset = pd.DataFrame(rooms_1_2_data)
rooms_1_2_dataset.to_csv('../data/rooms_1.csv')

In [139]:
# repeate for each type of room
rooms_3_prev = rooms_3.head(-1).rename(columns={"3-room": "previous_day"}) # remove last day
rooms_3_next = rooms_3.tail(-1).rename(columns={"3-room": "next_day"})

rooms_3_data = {"Previous Day": rooms_3_prev['previous_day'], "Next day": rooms_3_next['next_day'].reset_index(drop=True)}
rooms_3_dataset = pd.DataFrame(rooms_3_data)
rooms_3_dataset.to_csv('../data/rooms_3.csv')

In [140]:
rooms_4_prev = rooms_4.head(-1).rename(columns={"4-room": "previous_day"}) # remove last day
rooms_4_next = rooms_4.tail(-1).rename(columns={"4-room": "next_day"})

rooms_4_data = {"Previous Day": rooms_4_prev['previous_day'], "Next day": rooms_4_next['next_day'].reset_index(drop=True)}
rooms_4_dataset = pd.DataFrame(rooms_4_data)
rooms_4_dataset.to_csv('../data/rooms_4.csv')

In [141]:
rooms_5_prev = rooms_5.head(-1).rename(columns={"5-room_and_executive": "previous_day"}) # remove last day
rooms_5_next = rooms_5.tail(-1).rename(columns={"5-room_and_executive": "next_day"})
rooms_5_data = {"Previous Day": rooms_5_prev['previous_day'], "Next day": rooms_5_next['next_day'].reset_index(drop=True)}
rooms_5_dataset = pd.DataFrame(rooms_5_data)
rooms_5_dataset.to_csv('../data/rooms_5.csv')

In [142]:
condo_prev = condo.head(-1).rename(columns={"private_apts_and_condo": "previous_day"}) # remove last day
condo_next = condo.tail(-1).rename(columns={"private_apts_and_condo": "next_day"})
condo_data = {"Previous Day": condo_prev['previous_day'], "Next day": condo_next['next_day'].reset_index(drop=True)}
condo_dataset = pd.DataFrame(condo_data)
condo_dataset.to_csv('../data/condo.csv')